/netbeen-projects/first.project.ethan.230727/nbproject/private/
/netbeen-projects/first.project.ethan.230727/build/
/netbeen-projects/keybord.java.ethan.230727/nbproject/private/
/netbeen-projects/keybord.java.ethan.230727/build/
/netbeen-projects/exercise-11-output-1-to-n-230731/nbproject/private/
/netbeen-projects/exercise-11-output-1-to-n-230731/build/
/netbeen-projects/Exercise 12 Output to a File.ethan-230801/nbproject/private/
/netbeen-projects/Exercise 12 Output to a File.ethan-230801/build/
/netbeen-projects/working for 12/nbproject/private/
/netbeen-projects/working for 12/build/
/netbeen-projects/test./nbproject/private/
/netbeen-projects/test./build/
/netbeen-projects/test/target/
/netbeen-projects/testsss/nbproject/private/
/netbeen-projects/testsss/build/
/netbeen-projects/Exercise 13 Input from a File.ethan 230802/nbproject/private/
/netbeen-projects/Exercise 13 Input from a File.ethan 230802/build/
